/*------------ header ------------*/
.header-title {
  margin: 5px 0;
  text-align: center;
}

.header-button {
  margin: 5px 0;
  text-align: center;
}

@media (min-width: 992px) {
  .header-title {
    margin: 5px 0;
    text-align: left;
  }

  .header-button {
    margin: 5px 0;
    text-align: right;
  }
}
/*------------ header ------------*/

/*------------ textarea ------------*/
textarea {
  min-height: 90px;
  max-height: 120px;
}
/*------------ textarea ------------*/

/*------------ img-size ------------*/
.img-w-100 {
  width: 100px;
}
/*------------ img-size ------------*/

/*------------ table align-middle ------------*/
th {
  vertical-align: middle !important;
}

td {
  vertical-align: middle !important;
}
/*------------ table align-middle ------------*/