* {
  font-family: 'Poppins', sans-serif;
}



/*------------ android size ------------*/
@media (max-width: 576px) {
  .mx-5-android {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .img-300-200 {
    width:  200px!important;
    height:  200px!important;
  }
}
/*------------ android size ------------*/

/*------------ header ------------*/
.header-title {
  margin: 5px 0;
  text-align: center;
}

.header-button {
  margin: 5px 0;
  text-align: center;
}

@media (min-width: 992px) {
  .header-title {
    margin: 5px 0;
    text-align: left;
  }

  .header-button {
    margin: 5px 0;
    text-align: right;
  }
}
/*------------ header ------------*/

/*------------ textarea ------------*/
textarea {
  min-height: 90px;
  max-height: 200px;
}
/*------------ textarea ------------*/

/*------------ img-size ------------*/
.img-w-100 {
  width: 100px;
}

.img-w-150 {
  width: 150px;
}

.img-w-200 {
  width: 200px;
}

.img-w-300 {
  width:  300px;
}

.img-200 {
  width:  200px;
  height:  200px;
}

.img-250 {
  width:  250px;
  height:  250px;
}

.img-275 {
  width:  275px;
  height:  275px;
}

.img-300 {
  width:  300px;
  height:  300px;
}
.img-300-200 {
  width:  300px;
  height:  300px;
}

/*------------ img-size ------------*/

/*------------ table align-middle ------------*/
th {
  vertical-align: middle !important;
}

td {
  vertical-align: middle !important;
}
/*------------ table align-middle ------------*/

/*------------ select2 ------------*/
.select2 {
  display: block!important;
  width: 100%!important;
  height: calc(1.5em + 0.75rem + 2px)!important;
  padding: 0.375rem 0.75rem!important;
  font-size: 1rem!important;
  font-weight: 400!important;
  line-height: 1.5!important;
  color: #495057!important;
  background-color: #fff!important;
  background-clip: padding-box!important;
  border: 1px solid #ced4da!important;
  border-radius: 0.25rem!important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out!important;
}

.select2 span {
  border: none!important;
  margin: 0!important;
  padding: 0!important;
}

/*------------ select2 ------------*/

/*------------ bg ------------*/
.bg-gold {
  background-color: #F7C93E!important;
}
/*------------ bg ------------*/

/*------------ text-shadow ------------*/
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
/*------------ text-shadow ------------*/